{% extends "base.html" %}

{% set dev_mode = true %} 

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serveur exercices</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('form[id^="selectExerciseForm-"]').forEach(form => {
                form.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    const formData = new FormData(form);
                    const response = await fetch(form.action, {
                        method: form.method,
                        body: formData
                    });
                    if (response.ok) {
                        // Optionally, update the UI to reflect the change
                        const icon = form.querySelector('i');
                        const box = form.closest('.box');
                        if (icon.classList.contains('fa-check')) {
                            icon.classList.remove('fa-check');
                            icon.classList.add('fa-times');
                            box.classList.add('has-background-primary');
                        } else {
                            icon.classList.remove('fa-times');
                            icon.classList.add('fa-check');
                            box.classList.remove('has-background-primary');
                        }
                    } else {
                        console.error('Failed to select exercise');
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="column">
        <div class="box">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="{{ 'is-active' if request.args.get('level') == 'Seconde' or not request.args.get('level') }}">
                        <a href="?level=Seconde">
                            <span class="icon is-small"><i class="fas fa-graduation-cap"></i></span>
                            <span>Seconde</span>
                        </a>
                    </li>
                    <li class="{{ 'is-active' if request.args.get('level') == 'Première' }}">
                        <a href="?level=Première">
                            <span class="icon is-small"><i class="fas fa-book"></i></span>
                            <span>Première</span>
                        </a>
                    </li>
                    <li class="{{ 'is-active' if request.args.get('level') == 'Terminale' }}">
                        <a href="?level=Terminale">
                            <span class="icon is-small"><i class="fas fa-award"></i></span>
                            <span>Terminale</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="field">
                <div class="control has-text-centered">
                    <div class="select">
                        <select id="themeFilter" onchange="window.location.href='?level={{ request.args.get('level') }}&theme='+this.value">
                            <option value="all" {{ 'selected' if not request.args.get('theme') or request.args.get('theme') == 'all' }}>Tous les thèmes</option>
                            {% set unique_themes = [] %}
                            {% for exercise in exercices %}
                                {% if exercise.theme not in unique_themes %}
                                    {% set _ = unique_themes.append(exercise.theme) %}
                                {% endif %}
                            {% endfor %}
                            {% for theme in unique_themes | sort %}
                                <option value="{{ theme }}" {{ 'selected' if request.args.get('theme') == theme }}>{{ theme }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline"></div>
                {% for exercice in exercices if exercice.level == request.args.get('level', 'Seconde') and (not request.args.get('theme') or request.args.get('theme') == 'all' or exercice.theme == request.args.get('theme')) %}
                    <div class="column is-full">
                        <div class="box {% if exercice.id in selected_exercises %}has-background-primary{% endif %}">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-dark">Niveau</span>
                                        <span class="tag is-success">{{ exercice.level }}</span>
                                    </div>
                                </div>
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-dark">Thème</span>
                                        <span class="tag is-success">{{ exercice.theme }}</span>
                                    </div>
                                </div>
                                {% if dev_mode %}
                                <div class="field is-pulled-right">
                                    <a class="button is-small is-warning" href="/edit_exercise?id={{ exercice.id }}">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                </div>
                                {% endif %}
                                <div class="field is-pulled-right">
                                    <form id="selectExerciseForm-{{ exercice.id }}" action="/select_exercise" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="{{ exercice.id }}">
                                        <div class="tags has-addons">
                                            <button class="button is-small is-link is-inverted" type="submit">
                                                <span class="icon is-small">
                                                    <i class="fas {{ 'fa-times' if exercice.id in selected_exercises else 'fa-check' }}"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="content">{{ exercice.content | safe }}</div>
                            <div class="field">
                                <button class="button is-info" onclick="document.getElementById('correction-{{ loop.index }}').classList.toggle('is-hidden')">
                                    <span class="icon is-small">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                    <span>Afficher/Masquer Correction</span>
                                </button>
                            </div>
                            <article class="message is-info is-hidden" id="correction-{{ loop.index }}">
                                <div class="message-header">
                                    <p>Correction</p>
                                    <button class="delete" aria-label="delete" onclick="document.getElementById('correction-{{ loop.index }}').classList.toggle('is-hidden')"></button>
                                </div>
                                <div class="message-body">
                                    {{ exercice.correction | safe }}
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
